{
	"openapi": "3.1.0",
	"info": {
		"title": "The Prompting Company API",
		"version": "0.1.0",
		"description": "Machine-readable contract for The Prompting Company organization-scoped API routes.",
		"contact": {
			"name": "The Prompting Company",
			"url": "https://promptingcompany.com/support",
			"email": "support@promptingcompany.com"
		},
		"license": {
			"name": "Proprietary",
			"url": "https://promptingcompany.com/terms"
		},
		"termsOfService": "https://promptingcompany.com/terms"
	},
	"tags": [
		{
			"name": "Visibility & Mentions"
		},
		{
			"name": "Content"
		},
		{
			"name": "Simulations"
		},
		{
			"name": "Apps & Publishing"
		}
	],
	"servers": [
		{
			"url": "https://app.promptingco.com",
			"description": "Production"
		},
		{
			"url": "http://localhost:3000",
			"description": "Local development"
		}
	],
	"components": {
		"securitySchemes": {
			"apiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "x-api-key",
				"description": "Organization-scoped API key. Available scopes:\n- content:read: Read site pages, markdown content, and llms.txt files\n- content:write: Create, update, and delete site pages and content\n- prompts:read: Read prompts, topics, and prompt analysis results\n- prompts:write: Create, update, archive prompts\n- simulations:read: Read agent-simulation tasks, runs, environments, and analytics\n- simulations:write: Create and trigger simulation runs\n- logs:read: Read AI-traffic logs and request-level audit events\n- analytics:read: Read analytics aggregates (rankings, mentions, sources, SOV)\n- products:read: Read product metadata and competitor data\n- products:write: Update product settings and competitor lists",
				"x-scopes": {
					"content:read": "Read site pages, markdown content, and llms.txt files",
					"content:write": "Create, update, and delete site pages and content",
					"prompts:read": "Read prompts, topics, and prompt analysis results",
					"prompts:write": "Create, update, archive prompts",
					"simulations:read": "Read agent-simulation tasks, runs, environments, and analytics",
					"simulations:write": "Create and trigger simulation runs",
					"logs:read": "Read AI-traffic logs and request-level audit events",
					"analytics:read": "Read analytics aggregates (rankings, mentions, sources, SOV)",
					"products:read": "Read product metadata and competitor data",
					"products:write": "Update product settings and competitor lists"
				}
			},
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT",
				"description": "Bearer session or OAuth access token. Available OAuth scopes:\n- content:read: Read site pages, markdown content, and llms.txt files\n- content:write: Create, update, and delete site pages and content\n- prompts:read: Read prompts, topics, and prompt analysis results\n- prompts:write: Create, update, archive prompts\n- simulations:read: Read agent-simulation tasks, runs, environments, and analytics\n- simulations:write: Create and trigger simulation runs\n- logs:read: Read AI-traffic logs and request-level audit events\n- analytics:read: Read analytics aggregates (rankings, mentions, sources, SOV)\n- products:read: Read product metadata and competitor data\n- products:write: Update product settings and competitor lists",
				"x-scopes": {
					"content:read": "Read site pages, markdown content, and llms.txt files",
					"content:write": "Create, update, and delete site pages and content",
					"prompts:read": "Read prompts, topics, and prompt analysis results",
					"prompts:write": "Create, update, archive prompts",
					"simulations:read": "Read agent-simulation tasks, runs, environments, and analytics",
					"simulations:write": "Create and trigger simulation runs",
					"logs:read": "Read AI-traffic logs and request-level audit events",
					"analytics:read": "Read analytics aggregates (rankings, mentions, sources, SOV)",
					"products:read": "Read product metadata and competitor data",
					"products:write": "Update product settings and competitor lists"
				}
			},
			"cookieAuth": {
				"type": "apiKey",
				"in": "cookie",
				"name": "better-auth.session_token",
				"description": "First-party browser session cookie."
			}
		},
		"schemas": {},
		"parameters": {}
	},
	"paths": {
		"/api/v1/analytics/sov": {
			"get": {
				"operationId": "getAnalyticsSov",
				"summary": "Get share of voice analytics for a product",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product ID to use as the primary SOV scope."
						},
						"required": false,
						"description": "Product ID to use as the primary SOV scope.",
						"name": "productId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"deprecated": true,
							"description": "Deprecated. Use productId instead. Product ID to use as the primary SOV scope."
						},
						"required": false,
						"description": "Deprecated. Use productId instead. Product ID to use as the primary SOV scope.",
						"deprecated": true,
						"name": "brandId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["prompt", "topic", "engine"]
						},
						"required": false,
						"name": "by",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "promptId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "topicId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "engine",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "start",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "end",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 20
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["sov", "mentions", "runs", "label"]
						},
						"required": false,
						"name": "sortBy",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["asc", "desc"]
						},
						"required": false,
						"name": "sortDirection",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product"]
												},
												"pagination": {
													"type": "object",
													"properties": {
														"page": {
															"type": "integer"
														},
														"pageSize": {
															"type": "integer"
														},
														"total": {
															"type": "integer"
														},
														"totalPages": {
															"type": "integer"
														}
													},
													"required": [
														"page",
														"pageSize",
														"total",
														"totalPages"
													]
												},
												"sort": {
													"type": "object",
													"properties": {
														"sortBy": {
															"type": "string",
															"enum": ["sov", "mentions", "runs", "label"]
														},
														"sortDirection": {
															"type": "string",
															"enum": ["asc", "desc"]
														},
														"sortableDimensions": {
															"type": "array",
															"items": {
																"type": "string",
																"enum": ["sov", "mentions", "runs", "label"]
															}
														}
													},
													"required": ["sortableDimensions"]
												},
												"timeSeries": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"date": {
																"type": "string"
															},
															"sov": {
																"type": "number"
															},
															"mentions": {
																"type": "integer"
															},
															"runs": {
																"type": "integer"
															}
														},
														"required": ["date", "sov", "mentions", "runs"]
													}
												},
												"products": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"product_id": {
																"type": "string"
															},
															"product_name": {
																"type": "string"
															},
															"sov": {
																"type": "number"
															},
															"mentions": {
																"type": "integer"
															},
															"runs": {
																"type": "integer"
															},
															"date": {
																"type": "string"
															}
														},
														"required": [
															"product_id",
															"product_name",
															"sov",
															"mentions",
															"runs"
														]
													}
												},
												"rows": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"dimension": {
																"type": "string",
																"enum": ["product", "prompt", "topic", "engine"]
															},
															"key": {
																"type": "string"
															},
															"label": {
																"type": "string"
															},
															"date": {
																"type": "string"
															},
															"sov": {
																"type": "number"
															},
															"mentions": {
																"type": "integer"
															},
															"runs": {
																"type": "integer"
															},
															"rank": {
																"type": "integer"
															}
														},
														"required": [
															"dimension",
															"key",
															"label",
															"sov",
															"mentions",
															"runs"
														]
													}
												}
											},
											"required": [
												"scope",
												"pagination",
												"sort",
												"timeSeries",
												"products",
												"rows"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/conversation-queries": {
			"get": {
				"operationId": "getConversationQueries",
				"summary": "List conversation queries",
				"description": "Requires at least one of `brandId`, `promptId`, or `promptIds`. Use `viewId` with `brandId` to limit results to a view.",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "integer",
							"minimum": 1
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 500
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "search",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 500
						},
						"required": false,
						"name": "limit",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "brandId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "viewId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "promptId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "promptIds",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"data": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"organizationId": {
																"type": ["string", "null"]
															},
															"promptId": {
																"type": "string"
															},
															"userPersonaId": {
																"type": ["string", "null"]
															},
															"model": {
																"type": ["string", "null"]
															},
															"maxTurns": {
																"type": ["integer", "null"]
															},
															"createdAt": {
																"type": "string"
															},
															"updatedAt": {
																"type": "string"
															},
															"deletedAt": {
																"type": ["string", "null"]
															},
															"userPersona": {
																"type": ["object", "null"],
																"properties": {
																	"id": {
																		"type": "string"
																	},
																	"name": {
																		"type": "string"
																	}
																},
																"required": ["id", "name"]
															},
															"prompt": {
																"type": ["object", "null"],
																"properties": {
																	"id": {
																		"type": "string"
																	},
																	"message": {
																		"type": "string"
																	}
																},
																"required": ["id", "message"]
															}
														},
														"required": [
															"id",
															"promptId",
															"createdAt",
															"updatedAt",
															"deletedAt"
														]
													}
												},
												"pagination": {
													"type": "object",
													"properties": {
														"page": {
															"type": "integer",
															"minimum": 1
														},
														"limit": {
															"type": "integer",
															"minimum": 1
														},
														"total": {
															"type": "integer",
															"minimum": 0
														},
														"totalPages": {
															"type": "integer",
															"minimum": 0
														}
													},
													"required": ["page", "limit", "total", "totalPages"]
												}
											},
											"required": ["data"]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/views": {
			"get": {
				"operationId": "getViews",
				"summary": "List views",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "integer",
							"minimum": 1
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 500
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "search",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "brandId",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"data": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"name": {
																"type": "string"
															},
															"description": {
																"type": ["string", "null"]
															},
															"brandId": {
																"type": "string"
															},
															"organizationId": {
																"type": ["string", "null"]
															},
															"isDefault": {
																"type": "boolean"
															},
															"createdAt": {
																"type": "string"
															},
															"updatedAt": {
																"type": "string"
															},
															"deletedAt": {
																"type": ["string", "null"]
															},
															"conversationCount": {
																"type": "integer",
																"minimum": 0
															},
															"brand": {
																"type": "object",
																"properties": {
																	"id": {
																		"type": "string"
																	},
																	"name": {
																		"type": "string"
																	},
																	"slug": {
																		"type": ["string", "null"]
																	}
																},
																"required": ["id", "name", "slug"]
															}
														},
														"required": [
															"id",
															"name",
															"description",
															"brandId",
															"organizationId",
															"isDefault",
															"createdAt",
															"updatedAt",
															"deletedAt"
														]
													}
												},
												"totalPages": {
													"type": "integer",
													"minimum": 0
												},
												"totalItems": {
													"type": "integer",
													"minimum": 0
												}
											},
											"required": ["data", "totalPages", "totalItems"]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postViews",
				"summary": "Create a view",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string",
										"minLength": 1,
										"maxLength": 100
									},
									"description": {
										"type": "string",
										"maxLength": 500
									},
									"brandId": {
										"type": "string",
										"minLength": 1
									},
									"conversationQueryIds": {
										"type": "array",
										"items": {
											"type": "string"
										}
									}
								},
								"required": ["name", "brandId"]
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string"
												},
												"name": {
													"type": "string"
												},
												"description": {
													"type": ["string", "null"]
												},
												"brandId": {
													"type": "string"
												},
												"organizationId": {
													"type": ["string", "null"]
												},
												"isDefault": {
													"type": "boolean"
												},
												"createdAt": {
													"type": "string"
												},
												"updatedAt": {
													"type": "string"
												},
												"deletedAt": {
													"type": ["string", "null"]
												},
												"conversationCount": {
													"type": "integer",
													"minimum": 0
												},
												"brand": {
													"type": "object",
													"properties": {
														"id": {
															"type": "string"
														},
														"name": {
															"type": "string"
														},
														"slug": {
															"type": ["string", "null"]
														}
													},
													"required": ["id", "name", "slug"]
												}
											},
											"required": [
												"id",
												"name",
												"description",
												"brandId",
												"organizationId",
												"isDefault",
												"createdAt",
												"updatedAt",
												"deletedAt"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/md/by-path": {
			"get": {
				"operationId": "getMdByPath",
				"summary": "Get root public markdown content",
				"tags": ["Content"],
				"security": [],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Bearer API key, for example: Bearer tpc_..."
						},
						"required": true,
						"description": "Bearer API key, for example: Bearer tpc_...",
						"name": "authorization",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Organization ID. Provide this or x-tpc-organization-slug."
						},
						"required": false,
						"description": "Organization ID. Provide this or x-tpc-organization-slug.",
						"name": "x-tpc-organization-id",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product ID. Provide this or x-tpc-product-slug."
						},
						"required": false,
						"description": "Product ID. Provide this or x-tpc-product-slug.",
						"name": "x-tpc-product-id",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Organization slug. Provide this or x-tpc-organization-id."
						},
						"required": false,
						"description": "Organization slug. Provide this or x-tpc-organization-id.",
						"name": "x-tpc-organization-slug",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product slug. Provide this or x-tpc-product-id."
						},
						"required": false,
						"description": "Product slug. Provide this or x-tpc-product-id.",
						"name": "x-tpc-product-slug",
						"in": "header"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string"
												},
												"createdAt": {
													"type": "string"
												},
												"updatedAt": {
													"type": "string"
												},
												"deletedAt": {
													"type": ["string", "null"]
												},
												"filePath": {
													"type": "string"
												},
												"title": {
													"type": "string"
												},
												"content": {
													"type": "string"
												},
												"sourceUrl": {
													"type": "string"
												},
												"isManual": {
													"type": "boolean"
												},
												"productId": {
													"type": "string"
												},
												"contentType": {
													"type": "string",
													"enum": ["markdown"]
												}
											},
											"required": [
												"id",
												"createdAt",
												"updatedAt",
												"filePath",
												"title",
												"content",
												"sourceUrl",
												"isManual",
												"productId",
												"contentType"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/md/{id}": {
			"get": {
				"operationId": "getMdId",
				"summary": "Get public markdown content by ID",
				"tags": ["Content"],
				"security": [],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": true,
						"name": "id",
						"in": "path"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Bearer API key, for example: Bearer tpc_..."
						},
						"required": true,
						"description": "Bearer API key, for example: Bearer tpc_...",
						"name": "authorization",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Organization ID. Provide this or x-tpc-organization-slug."
						},
						"required": false,
						"description": "Organization ID. Provide this or x-tpc-organization-slug.",
						"name": "x-tpc-organization-id",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product ID. Provide this or x-tpc-product-slug."
						},
						"required": false,
						"description": "Product ID. Provide this or x-tpc-product-slug.",
						"name": "x-tpc-product-id",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Organization slug. Provide this or x-tpc-organization-id."
						},
						"required": false,
						"description": "Organization slug. Provide this or x-tpc-organization-id.",
						"name": "x-tpc-organization-slug",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product slug. Provide this or x-tpc-product-id."
						},
						"required": false,
						"description": "Product slug. Provide this or x-tpc-product-id.",
						"name": "x-tpc-product-slug",
						"in": "header"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string"
												},
												"createdAt": {
													"type": "string"
												},
												"updatedAt": {
													"type": "string"
												},
												"deletedAt": {
													"type": ["string", "null"]
												},
												"filePath": {
													"type": "string"
												},
												"title": {
													"type": "string"
												},
												"content": {
													"type": "string"
												},
												"sourceUrl": {
													"type": "string"
												},
												"isManual": {
													"type": "boolean"
												},
												"productId": {
													"type": "string"
												},
												"contentType": {
													"type": "string",
													"enum": ["markdown"]
												}
											},
											"required": [
												"id",
												"createdAt",
												"updatedAt",
												"filePath",
												"title",
												"content",
												"sourceUrl",
												"isManual",
												"productId",
												"contentType"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/md/by-path/{path}": {
			"get": {
				"operationId": "getMdByPathPath",
				"summary": "Get public markdown content by path",
				"tags": ["Content"],
				"security": [],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": true,
						"name": "path",
						"in": "path"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Bearer API key, for example: Bearer tpc_..."
						},
						"required": true,
						"description": "Bearer API key, for example: Bearer tpc_...",
						"name": "authorization",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Organization ID. Provide this or x-tpc-organization-slug."
						},
						"required": false,
						"description": "Organization ID. Provide this or x-tpc-organization-slug.",
						"name": "x-tpc-organization-id",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product ID. Provide this or x-tpc-product-slug."
						},
						"required": false,
						"description": "Product ID. Provide this or x-tpc-product-slug.",
						"name": "x-tpc-product-id",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Organization slug. Provide this or x-tpc-organization-id."
						},
						"required": false,
						"description": "Organization slug. Provide this or x-tpc-organization-id.",
						"name": "x-tpc-organization-slug",
						"in": "header"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product slug. Provide this or x-tpc-product-id."
						},
						"required": false,
						"description": "Product slug. Provide this or x-tpc-product-id.",
						"name": "x-tpc-product-slug",
						"in": "header"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string"
												},
												"createdAt": {
													"type": "string"
												},
												"updatedAt": {
													"type": "string"
												},
												"deletedAt": {
													"type": ["string", "null"]
												},
												"filePath": {
													"type": "string"
												},
												"title": {
													"type": "string"
												},
												"content": {
													"type": "string"
												},
												"sourceUrl": {
													"type": "string"
												},
												"isManual": {
													"type": "boolean"
												},
												"productId": {
													"type": "string"
												},
												"contentType": {
													"type": "string",
													"enum": ["markdown"]
												}
											},
											"required": [
												"id",
												"createdAt",
												"updatedAt",
												"filePath",
												"title",
												"content",
												"sourceUrl",
												"isManual",
												"productId",
												"contentType"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/agent-simulation/runs": {
			"get": {
				"operationId": "getAgentSimulationRuns",
				"summary": "List agent simulation runs",
				"tags": ["Simulations"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "environmentId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "taskId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "experimentId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "iterationId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "status",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "search",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer"
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer"
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"runs": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"environmentId": {
																"type": "string"
															},
															"taskId": {
																"type": ["string", "null"]
															},
															"organizationId": {
																"type": "string"
															},
															"status": {
																"type": "string"
															},
															"sandboxId": {
																"type": ["string", "null"]
															},
															"sandboxSnapshot": {
																"type": ["string", "null"]
															},
															"volumeIds": {},
															"logS3Keys": {},
															"overallScore": {
																"type": ["number", "null"]
															},
															"passed": {
																"type": ["boolean", "null"]
															},
															"tokensUsed": {
																"type": ["integer", "null"]
															},
															"costUsd": {
																"type": ["number", "null"]
															},
															"metadata": {},
															"startedAt": {
																"type": ["string", "null"],
																"format": "date-time"
															},
															"completedAt": {
																"type": ["string", "null"],
																"format": "date-time"
															},
															"duration": {
																"type": ["integer", "null"]
															},
															"createdAt": {
																"type": "string",
																"format": "date-time"
															},
															"updatedAt": {
																"type": "string",
																"format": "date-time"
															},
															"deletedAt": {
																"type": ["string", "null"],
																"format": "date-time"
															},
															"environment": {
																"type": ["object", "null"],
																"properties": {
																	"id": {
																		"type": "string"
																	},
																	"name": {
																		"type": "string"
																	},
																	"agentConfig": {},
																	"task": {
																		"type": ["object", "null"],
																		"properties": {
																			"id": {
																				"type": "string"
																			},
																			"name": {
																				"type": "string"
																			},
																			"category": {
																				"type": "string"
																			}
																		},
																		"required": ["id", "name", "category"]
																	}
																},
																"required": ["id", "name"]
															},
															"task": {
																"type": ["object", "null"],
																"properties": {
																	"id": {
																		"type": "string"
																	},
																	"name": {
																		"type": "string"
																	},
																	"category": {
																		"type": "string"
																	}
																},
																"required": ["id", "name", "category"]
															}
														},
														"required": [
															"id",
															"environmentId",
															"taskId",
															"organizationId",
															"status",
															"sandboxId",
															"sandboxSnapshot",
															"overallScore",
															"passed",
															"tokensUsed",
															"costUsd",
															"startedAt",
															"completedAt",
															"duration",
															"createdAt",
															"updatedAt",
															"deletedAt"
														]
													}
												},
												"total": {
													"type": "integer",
													"minimum": 0
												}
											},
											"required": ["runs", "total"]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/site/pages": {
			"get": {
				"operationId": "getSitePages",
				"summary": "List site pages",
				"tags": ["Content"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": true,
						"name": "productId",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer"
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer"
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["createdAt", "updatedAt", "deletedAt"]
						},
						"required": false,
						"name": "orderBy",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["asc", "desc"]
						},
						"required": false,
						"name": "orderByDirection",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "query",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "q",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["draft", "published"]
						},
						"required": false,
						"name": "status",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "type",
						"in": "query"
					},
					{
						"schema": {
							"type": "boolean"
						},
						"required": false,
						"name": "isManual",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "pathPrefix",
						"in": "query"
					},
					{
						"schema": {
							"type": "boolean"
						},
						"required": false,
						"name": "hasContent",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "domainId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "domain",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["active", "archived", "all"]
						},
						"required": false,
						"name": "archivedStatus",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": ["string", "null"]
																}
															},
															"required": ["id", "name", "slug"]
														},
														"organization": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product", "organization"]
												},
												"page": {
													"type": "integer",
													"exclusiveMinimum": 0
												},
												"pageSize": {
													"type": "integer",
													"exclusiveMinimum": 0
												},
												"query": {
													"type": ["string", "null"]
												},
												"status": {
													"type": ["string", "null"]
												},
												"type": {
													"type": ["string", "null"]
												},
												"isManual": {
													"type": ["boolean", "null"]
												},
												"pathPrefix": {
													"type": ["string", "null"]
												},
												"hasContent": {
													"type": ["boolean", "null"]
												},
												"domainId": {
													"type": ["string", "null"]
												},
												"domain": {
													"type": ["string", "null"]
												},
												"archivedStatus": {
													"type": "string",
													"enum": ["active", "archived", "all"]
												},
												"orderBy": {
													"type": "string",
													"enum": ["createdAt", "updatedAt", "deletedAt"]
												},
												"orderByDirection": {
													"type": "string",
													"enum": ["asc", "desc"]
												},
												"total": {
													"type": "integer",
													"minimum": 0
												},
												"totalPages": {
													"type": "integer",
													"minimum": 0
												},
												"items": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"title": {
																"type": "string"
															},
															"filePath": {
																"type": "string"
															},
															"sourceUrl": {
																"type": "string"
															},
															"status": {
																"type": "string"
															},
															"type": {
																"type": "string"
															},
															"isManual": {
																"type": "boolean"
															},
															"metaTitle": {
																"type": ["string", "null"]
															},
															"metaDescription": {
																"type": ["string", "null"]
															},
															"publishedAt": {
																"type": ["string", "null"],
																"format": "date-time"
															},
															"deletedAt": {
																"type": ["string", "null"],
																"format": "date-time"
															},
															"createdAt": {
																"type": "string",
																"format": "date-time"
															},
															"updatedAt": {
																"type": "string",
																"format": "date-time"
															},
															"domains": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"id": {
																			"type": "string"
																		},
																		"domain": {
																			"type": "string"
																		},
																		"isCanonical": {
																			"type": "boolean"
																		}
																	},
																	"required": ["id", "domain", "isCanonical"]
																}
															}
														},
														"required": [
															"id",
															"title",
															"filePath",
															"sourceUrl",
															"status",
															"type",
															"isManual",
															"metaTitle",
															"metaDescription",
															"publishedAt",
															"deletedAt",
															"createdAt",
															"updatedAt",
															"domains"
														]
													}
												}
											},
											"required": [
												"scope",
												"page",
												"pageSize",
												"query",
												"status",
												"type",
												"isManual",
												"pathPrefix",
												"hasContent",
												"domainId",
												"domain",
												"archivedStatus",
												"orderBy",
												"orderByDirection",
												"total",
												"totalPages",
												"items"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postSitePages",
				"summary": "Create site pages",
				"description": "Deprecated, will be removed in future versions. Please use the Apps equivalent.",
				"tags": ["Content"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"productId": {
										"type": "string",
										"minLength": 1
									},
									"pages": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"slug": {
													"type": "string",
													"description": "Page slug or file path, for example 'blog/my-post'"
												},
												"title": {
													"type": "string",
													"description": "Page title"
												},
												"content": {
													"type": "string",
													"description": "Markdown content for the page"
												},
												"description": {
													"type": "string",
													"description": "Optional page description"
												},
												"metaTitle": {
													"type": "string",
													"description": "Optional SEO meta title"
												},
												"metaDescription": {
													"type": "string",
													"description": "Optional SEO meta description"
												},
												"domainIds": {
													"type": "array",
													"items": {
														"type": "string"
													},
													"description": "Optional custom domain IDs to attach to the page. Domains must belong to the product and be active web domains."
												},
												"canonicalDomainId": {
													"type": "string",
													"description": "Optional attached custom domain ID to mark as canonical and use for the page source URL."
												}
											},
											"required": ["slug", "title", "content"]
										},
										"minItems": 1,
										"maxItems": 25
									}
								},
								"required": ["productId", "pages"]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": ["string", "null"]
																}
															},
															"required": ["id", "name", "slug"]
														},
														"organization": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product", "organization"]
												},
												"createdCount": {
													"type": "integer",
													"minimum": 0
												},
												"failedCount": {
													"type": "integer",
													"minimum": 0
												},
												"created": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"slug": {
																"type": "string"
															},
															"title": {
																"type": "string"
															},
															"sourceUrl": {
																"type": "string"
															},
															"status": {
																"type": "string"
															},
															"domains": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"id": {
																			"type": "string"
																		},
																		"domain": {
																			"type": "string"
																		},
																		"isCanonical": {
																			"type": "boolean"
																		}
																	},
																	"required": ["id", "domain", "isCanonical"]
																}
															}
														},
														"required": [
															"id",
															"slug",
															"title",
															"sourceUrl",
															"status",
															"domains"
														]
													}
												},
												"failed": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"slug": {
																"type": "string"
															},
															"message": {
																"type": "string"
															}
														},
														"required": ["slug", "message"]
													}
												}
											},
											"required": [
												"scope",
												"createdCount",
												"failedCount",
												"created",
												"failed"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchSitePages",
				"summary": "Update site pages",
				"description": "Deprecated, will be removed in future versions. Please use the Apps equivalent.",
				"tags": ["Content"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"productId": {
										"type": "string",
										"minLength": 1
									},
									"pages": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string",
													"description": "The page ID to update"
												},
												"title": {
													"type": "string",
													"description": "Optional replacement page title"
												},
												"content": {
													"type": "string",
													"description": "Optional replacement markdown content"
												},
												"description": {
													"type": "string",
													"description": "Optional replacement description"
												},
												"metaTitle": {
													"type": "string",
													"description": "Optional replacement SEO meta title"
												},
												"metaDescription": {
													"type": "string",
													"description": "Optional replacement SEO meta description"
												},
												"filePath": {
													"type": "string",
													"description": "Optional replacement path or slug for the page"
												},
												"status": {
													"type": "string",
													"enum": ["draft", "published"],
													"description": "Optional page status update"
												},
												"isManual": {
													"type": "boolean",
													"description": "Optional override for whether the page is manual"
												},
												"noIndex": {
													"type": "boolean",
													"description": "Optional SEO noindex flag"
												},
												"redirectToUrl": {
													"type": ["string", "null"],
													"description": "Optional redirect target URL, or null to clear it"
												},
												"attachDomainIds": {
													"type": "array",
													"items": {
														"type": "string"
													},
													"description": "Optional custom domain IDs to attach to the page. Domains must belong to the product and be active web domains."
												},
												"detachDomainIds": {
													"type": "array",
													"items": {
														"type": "string"
													},
													"description": "Optional custom domain IDs to detach from the page. Detached domains can no longer be canonical."
												},
												"canonicalDomainId": {
													"type": "string",
													"description": "Optional attached custom domain ID to mark as canonical and use for the page source URL."
												}
											},
											"required": ["id"]
										},
										"minItems": 1,
										"maxItems": 25
									}
								},
								"required": ["productId", "pages"]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": ["string", "null"]
																}
															},
															"required": ["id", "name", "slug"]
														},
														"organization": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product", "organization"]
												},
												"updatedCount": {
													"type": "integer",
													"minimum": 0
												},
												"failedCount": {
													"type": "integer",
													"minimum": 0
												},
												"updated": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"title": {
																"type": "string"
															},
															"filePath": {
																"type": "string"
															},
															"sourceUrl": {
																"type": "string"
															},
															"status": {
																"type": "string"
															},
															"isManual": {
																"type": "boolean"
															},
															"domains": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"id": {
																			"type": "string"
																		},
																		"domain": {
																			"type": "string"
																		},
																		"isCanonical": {
																			"type": "boolean"
																		}
																	},
																	"required": ["id", "domain", "isCanonical"]
																}
															}
														},
														"required": [
															"id",
															"title",
															"filePath",
															"sourceUrl",
															"status",
															"isManual",
															"domains"
														]
													}
												},
												"failed": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"slug": {
																"type": "string"
															},
															"message": {
																"type": "string"
															}
														},
														"required": ["id", "message"]
													}
												}
											},
											"required": [
												"scope",
												"updatedCount",
												"failedCount",
												"updated",
												"failed"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteSitePages",
				"summary": "Delete site pages",
				"description": "Deprecated, will be removed in future versions. Please use the Apps equivalent.",
				"tags": ["Content"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"productId": {
										"type": "string",
										"minLength": 1
									},
									"pageIds": {
										"type": "array",
										"items": {
											"type": "string",
											"minLength": 1
										},
										"minItems": 1,
										"maxItems": 50
									}
								},
								"required": ["productId", "pageIds"]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": ["string", "null"]
																}
															},
															"required": ["id", "name", "slug"]
														},
														"organization": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product", "organization"]
												},
												"deletedCount": {
													"type": "integer",
													"minimum": 0
												},
												"failedCount": {
													"type": "integer",
													"minimum": 0
												},
												"deleted": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"title": {
																"type": "string"
															}
														},
														"required": ["id", "title"]
													}
												},
												"failed": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"slug": {
																"type": "string"
															},
															"message": {
																"type": "string"
															}
														},
														"required": ["id", "message"]
													}
												}
											},
											"required": [
												"scope",
												"deletedCount",
												"failedCount",
												"deleted",
												"failed"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
[...]
